html {
    background-color: black;
}

.heading {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.anchor {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}

.bot {
    font-family: Verdana;
    font-weight: 300;
    font-size: 40px;
    color: white;
    text-align: center;
}

.bot1 {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
    text-align: center;
}

.bot3 {
    font-family: Verdana;
    font-size: 21px;
    color: white;
    text-align: center;
}

.bot4 {
    font-family: Verdana;
    text-align: right;
    color: Gray;
}

.media {
    display: flex;
    justify-content: center;
}

.media img {
    margin-top: 15px;
    margin-bottom: 30px;
}